h1{
    color:rgb(49, 254, 189);
}
p{
    font-size: 20px;
    color: brown;
    text-align: right;
}
.content{
    background-color: grey;
    padding:20px;
    margin: 20px;
    border-width: 20px;
    border-color: black;
    border-style: dotted;
}
.content h1{
    color: red;
}
div h1{
    font-size: 380%;
    margin: 200px;
    /* padding: 200px; */
    text-align: center;
}